<!-- Event Gallery Section -->
<section class="event-gallery py-5">
    <div class="container text-center">
      <h2 class="fw-bold">Our Results - 2025</h2>
      <p class="text-muted">Pride Of Our Chaudhary Coaching Classes.</p>
  
      <div class="row g-4 mt-4">
        <!-- Image 1 -->
        <div class="col-md-4">
          <div class="gallery-item">
            <a href="/assets/mobile10.jpg" data-lightbox="gallery">
              <img src="/assets/mobile10.jpg" alt="Event 1" class="img-fluid rounded">
            </a>
          </div>
        </div>
  
        <!-- Image 2 -->
        <div class="col-md-4">
          <div class="gallery-item">
            <a href="/assets/mobile11.jpg" data-lightbox="gallery">
              <img src="/assets/mobile11.jpg" alt="Event 2" class="img-fluid rounded">
            </a>
          </div>
        </div>
  
        <!-- Image 3
        <div class="col-md-4">
          <div class="gallery-item">
            <a href="/assets/neet2.jpg" data-lightbox="gallery">
              <img src="/assets/neet2.jpg" alt="Event 3" class="img-fluid rounded">
            </a>
          </div>
        </div>
  
         Image 4
        <div class="col-md-4">
          <div class="gallery-item">
            <a href="/assets/iit.jpg" data-lightbox="gallery">
              <img src="/assets/iit.jpg" alt="Event 4" class="img-fluid rounded">
            </a>
          </div>
        </div> -->
   
      <!-- Image 5 -->
      <!-- <div class="col-md-4">
        <div class="gallery-item">
          <a href="/assets/war.jpg" data-lightbox="gallery">
            <img src="/assets/war.jpg" alt="Event 5" class="img-fluid rounded">
          </a>
        </div>
      </div> -->

      <!-- Image 6 -->
      <!-- <div class="col-md-4">
        <div class="gallery-item">
          <a href="/assets/img.jpg" data-lightbox="gallery">
            <img src="/assets/img.jpg" alt="Event 6" class="img-fluid rounded">
          </a>
        </div>
      </div> -->
    </div>
  </div>
</section>